<div id="<%= dom_id content %>">
  <p>
    <strong>Titolo:</strong>
    <%= content.titolo %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= content.descrizione %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= content.price %>
  </p>


 </div>
