<div id="<%= dom_id list %>">
<div class="row">

      <div class="col s3">
      <strong>Titolox:</strong>
      </div>
      <div class="col s6">
      <strong>Descrizione:</strong>
      </div>
      <div class="col s3">
      <strong>Prezzo:</strong>
      </div>

 </div>
 <hr>
 <div class="row">

      <div class="col s3">
      <%= content.titolo %>
      </div>
      <div class="col s6">
      <%= content.descrizione %>
      </div>
      <div class="col s3">
      <%= content.price %>
      </div>

 </div>
   

</div>
