<header class="navbar-fixed">
<nav class=" light-blue darken-3">
  <div class="container nav-wrapper">
  <%= link_to "X-Shop" , root_path, class: "brand-logo" %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
            <%= link_to "About" , about_path %>

 
  </ul>
 
  </div>


</nav>
</header>